* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma;
}

ul {
    list-style-type: none;
    position: relative;
    top: 10px;
}

body {
    background-color: #f19236;
    min-width: 930px;
}

a {
    color: white;
    text-decoration: none;
}

.general {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.header{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #555855;
    text-align: center;
    display: flex;
}
.sesion_user{
    position: relative;
    width: 20%;
    height: 100px;
    background-color: #555855;
    text-align: center;
    display: flex;
}
.usuario{
    position: relative;
    width: 12%;
    height: 100px;
    background-color: #555855;
    text-align: center;
}
.cerrar_sesion{
    position: relative;
    width: 8%;
    height: 100px;
    background-color: #555855;
    text-align: center;
}
.cerrar{
    margin: 0px auto;
}
h4{
    color: white;
}
.container-superior {
    position: relative;
    width: 80%;
    height: 100px;
    background-color: #555855;
    text-align: center;
}

.logo {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    height: 50px;
    width: 50px;
    right: -25px;
    top: 25px;
    float: left;
}

.title {
    text-shadow: 5px 5px 3px black;
    position: relative;
    top: 25px;
    left: 50px;
    font-size: 35px;
    color: white;
    float: left;
}

.container-medio {
    background-color: #f19236;
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.musica {
    position: relative;
    top: 15px;
    left: 0%;
    font-size: 30px;
}
.container-inferior {
    background-color: #555855;
    position: relative;
    width: 100%;
    height: 120px;
}

.logomusica {
    display: block;
    justify-self: center;
    width: 200px;
    right: 200px;
    border-radius: 50%;
    margin: 0px auto;
}
.logomusica:hover {
    filter: contrast(50);
    transform: rotate(20deg);
    transition: 1s;
}

.container-musica {
    text-align: center;
    position: relative;
    margin: 30px auto;
}

.acercade:hover {
    color: #f98009;
}

.politica:hover {
    color: #f98009;
}

.ayuda:hover {
    color: #f98009;
}

.legal:hover {
    color: #f98009;
}
.registro-inicio{
    position: relative;
    top: 37.5px;
    float: right;
    left: -25px;
    display: inline;
}
.inicio{
    position: relative;
    left: -25px;
}
.inicio:hover{
    color: #f98009;
}
.registro:hover{
    color: #f98009;
}